@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    background-image: url('images/bg-intro-desktop.png');
    background-color: rgba(255, 122, 122, 1);
}

@media screen and (max-width: 1024px) {
    body {
        background-image: url('images/bg-intro-mobile.png');    
    }
}

.shadow-blue {
    box-shadow: 0px 9px 0px 0px rgba(0,0,0,0.2);
}

.shadow-green {
    box-shadow: 0px 9px 0px 0px rgba(0, 122, 69, 0.8);
}

input {
    @apply block border px-5 py-5 my-5 w-full rounded-lg;
}

input::placeholder {
    @apply font-bold;
}